:root {
    --black-color: #121826;
    --darkgrey-color: #9DA3AE;
    --offwhite-color: #E5E7EB;
    --darkblue-color: #212936;
    --lightblue-color: #DEE9FC;
    --pink-color: #FBE5E6;
    --yellow-color: #FCEED8;
    --lightgrey-color: #D2D5DA;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: var(--black-color);
    width: 100%;
    min-height: 100vh;
    background-image: url('background_image.svg');
    background-image: image-set(
        url('background_image.svg') type('image/svg+xml') 1x,
        url('background_image@2x.png') type('image/png') 2x,
        url('background_image@3x.png') type('image/png') 3x
    );
    background-size: cover;
}


h1, h2 {
    color: var(--offwhite-color)
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 16px;
}

h2 {
    font-size: 1.25rem;
    font-weight: 600;
}

p {
    color: var(--lightgrey-color);
    font-size: 1rem;
    font-weight: 400;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 48px auto;
    width: 450px;
    
}

.emoji {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.emoji.one {
    background-color: var(--yellow-color);
}

.emoji.two {
    background-color: var(--lightblue-color);
}

.emoji.three {
    background-color: var(--pink-color);
}

.boxes {
    margin-top: 60px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
    margin-bottom: 60px;
}

.box {
    background-color: var(--darkblue-color);
    border-radius: 10px;
    padding: 24px;
    max-width: 316px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    } 

.box:hover {
    border: 1px solid var(--offwhite-color);
    transform: scale(1.1)
}

.box:focus {
    border: 1px solid var(--lightgrey-color);
    box-shadow: 10px 5px 5px var(--lightgrey-color);
}

.box p {
    width: 90%;
}

.box-image {
    width: 100%;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
   body {
    background-size: 200%
   }

   #header {
    width: 95%;
   }
}